<nav class="nav">
  <div>
    <img class="nav-logo" src="../../assets/domo-logo.svg" />
  </div>

  <div class="nav-links">
    <div class="nav-link">
      <a href="#" class="text-2">Estimer un bien</a>
    </div>
    <div class="nav-link">
      <a href="#" class="text-3">Analyser une adresse</a>
    </div>
    <div class="nav-link">
      <a href="#" class="text-4">Consulter les ventes passées</a>
    </div>
    <div class="nav-link">
      <a href="#" class="text-5">Trouver un agent</a>
    </div>
  </div>

  <div class="nav-connexion">
    <button class="nav-button-connexion">
      <a class="text-8">Connexion</a>
    </button>
  </div>
</nav>
